<!DOCTYPE html>
<html>
<head>
  <title>Let's Brunch</title>
  <link href="/app/css/main.css" rel="stylesheet" type="text/css" />
  <!--[if IE]>

  <![endif]-->
</head>
<body>

  <section class="header">
    <header>
      <h1>Let's Do</h1>
      <p>The quickest, simplest way to force your friends to make a decision.</p>
    </header>

    <div>
      <ul class="tabs">
        <li class="tab"><a href="#create" class="tab-inner">Create Event</a></li>
        <li class="tab"><a href="#locations" class="tab-inner">Set Locations</a></li>
        <li class="tab"><a href="#invite" class="tab-inner">Invite Friends</a></li>
        <li class="tab"><a href="#vote" class="tab-inner">Vote!</a></li>
      </ul>
      <div class="explain clearfix">
      </div>
    </div>
  </section>

  <section id="main">

  </section>

  <script src="/app/js/vendor/jquery-1.11.0.min.js"></script>
  <script src="/app/js/vendor/underscore-1.6.0.js"></script>
  <script src="/app/js/vendor/backbone-1.1.2.js"></script>
  <script src="/app/js/main.js"></script>


  <script type="text/template" id="vote-counter-tmplt">
  <%= votes %>
  </script>

  <script type="text/template" id="candidate-template">
    <span id="vote-counter-<%= name %>" class="vote-counter"><%= votes %></span>
    <button id="<%= name %>-upvote" class="vote-plus"></button>
    <%= name %>
    <button id="<%= name %>-downvote" class="vote-minus"></button>
  </script>

  <script type="text/template" id="create-ballot-candidate-template">
    <p><%= name %></p>
    <input type="text" value="<%= name %>" class="edit-candidate">
  </script>

  <script type="text/template" id='explain-template'>
    <div class="explanation" id="<%= id %>">
      <p><%= paragraph %></p>
      <% if(listType) { %>
      <<%= listType %>>
        <% _.each(listItems, function(el, index, list){ %>
          <li><%= el %></li>
        <% }) %>
      </<%= listType %>>
      <% } %>
    </div>
  </script>

  <script type="text/template" id="new-event-template">
    <form id="new-event" action="#">
      <label for="event">Let's Do:</label>
      <input type="text" id="event">
      <label for="date">When?</label>
      <input type="date" id="date">
      <label for="people">How Many People</label>
      <input type="number">
      <input type="submit" value="Let's Do!">
    </form>
  </script>

  <script type="text/template" id="add-candidate-template">
    <form id="add-candidate-form">
      <label for="new-candidate">Enter a New Candidate</label>
      <input type="text" id="new-candidate">
    </form>
    <ul id="ballot">
    </ul>
  </script>

</body>
</html>