<!DOCTYPE html>
<html>
<head>
  <title>Let's Brunch</title>
  <link href="/app/css/main.css" rel="stylesheet" type="text/css" />
  <!--[if IE]>

  <![endif]-->
</head>
<body>

  <section class="main">
    <header>
      <h1>Let's Do</h1>
      <p>The quickest, simplest way to force your friends to make a decision.</p>
    </header>

    <div>
      <form>
        <label for="new-location">Enter a New Location</label>
        <input type="text" id="new-location">
      </form>
      <ul id="ballot">
      </ul>
    </div>

  </section>


  <script type="text/javascript" src="/app/js/vendor/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/app/js/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="/app/js/vendor/backbone-min.js"></script>
  <script type="text/javascript" src="/app/js/main.js"></script>


  <script type="text/template" id="vote-counter-tmplt">
  <%= votes %>
  </script>

  <script type="text/template" id="candidate-template">
    <span id="vote-counter-<%= name %>" class="vote-counter"><%= votes %></span>
    <button id="<%= name %>-upvote" class="vote-plus"></button>
    <%= name %>
    <button id="<%= name %>-downvote" class="vote-minus"></button>
  </script>

</body>
</html>