<!DOCTYPE html>
<html>
<head>
  <title>Let's Brunch</title>
  <link href="/app/css/main.css" rel="stylesheet" type="text/css" />
  <!--[if IE]>

  <![endif]-->
</head>
<body>

  <ul id="ballot">
    <!-- <li id="opt1">
      <span id="vote-counter1" class="vote-counter">0</span>
      <button id="upvote1" class="vote-plus"></button>
      One
      <button id="downvote1" class="vote-minus"></button>
    </li>
    <li id="opt2">
      <span id="vote-counter2" class="vote-counter">0</span>
      <button id="upvote2" class="vote-plus"></button>
      Two
      <button id="downvote2" class="vote-minus"></button>
    </li>
    <li id="opt3">
      <span id="vote-counter3" class="vote-counter">0</span>
      <button id="upvote3" class="vote-plus"></button>
      Three
      <button id="downvote3" class="vote-minus"></button>
    </li>
    <li id="opt4">
      <span id="vote-counter4" class="vote-counter">0</span>
      <button id="upvote4" class="vote-plus"></button>
      Four
      <button id="downvote4" class="vote-minus"></button>
    </li> -->
  </ul>

  <script type="text/javascript" src="/app/js/vendor/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/app/js/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="/app/js/vendor/backbone-min.js"></script>
  <script type="text/javascript" src="/app/js/main.js"></script>


  <script type="text/template" id="vote-counter-tmplt">
  <%= votes %>
  </script>

  <script type="text/template" id="candidate-template">
    <span id="vote-counter-<%= name %>" class="vote-counter"><%= votes %></span>
    <button id="<%= name %>-upvote" class="vote-plus"></button>
    <%= name %>
    <button id="<%= name %>-downvote" class="vote-minus"></button>
  </script>

</body>
</html>